<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Skillmatrix{% endblock %}</title>
</head>
<body>
    <div id="app"></div>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
